/* grey */
@value base1Dark: #444;
@value base1Light: #ddd;

/* blue */
@value base2Dark: #344559;
@value base2Light: #74C4F9;

@value primary-white: #fff;
@value primary-green: #72DA66;
@value primary-red: tomato;





