@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700');
@value colors: "./colors.css";
@value base1Dark, base1Light, base2Dark, base2Light, primary-white, primary-green, primary-red from colors;

* {
  box-sizing: border-box;
}

ul,ol { list-style: none; }
h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,dl,dt,dd, figure, figcaption {
	margin: 0;
	padding: 0; }
a img,:link img,:visited img, fieldset { border: none; }
address { font-style: normal; }
header, section, article, nav, footer, hgroup, details, summary, figure, main { display: block; }
mark {
	color: inherit;
	background: transparent; }
abbr { border: none; }
summary::-webkit-details-marker { display: none; }

button {
  cursor: pointer;
}

body {
  font-family: -apple-system, 'Montserrat', sans-serif, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #344559;
  font-weight: 500;
  color: #344559;
}

h2 {
  font-weight: normal;
  font-size: 0.9em;
}
