.app {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal-background {
  background: rgba(68, 68, 68, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}


@media (min-width: 750px) {
  /* .main { */
  /*   display: flex; */
  /* } */

  /* .list { */
  /*   flex-grow: 3; */
  /*   overflow: scroll; */
  /* } */

  /* .selected { */
  /*   flex-grow: 4; */
  /* } */
}

