@value colors: "../colors.css";
@value base1Dark, base1Light, base2Dark, base2Light, primary-white, primary-green, primary-red from colors;

/* **************************************** */
/* mobile (first) */

.app {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.main-forcast-container { 
  width: 90%;
  background: primary-white;
  margin: 1em;
  padding: 1em;
  border-radius: 1.2em;
}

/* **************************************** */
/* full-screen */

@media (min-width: 750px) {
  .main-forcast-container {
    width: 40%;
  }
}
