.filter-input {
  padding: 3px;
  display: flex;
}

.filter-input > label {
  flex-basis: 60%;
  cursor: pointer;
  font-size: 0.9em;
}

.filter-input div {
  flex-basis: 40%;
  display: flex;
  text-align: center;
}

.filter-input div span {
  flex-grow: 2;
}

.showing {
  color: #bbb;
}

@media (min-width: 800px) {
  .filter-input {
    padding: 0.4em;
  }
}
