.filter-input {
  height: 1em;
  padding: 0.5em;
  display: flex;
}

.filter-input > label:first-child {
  flex-basis: 60%;
  cursor: pointer;
}

.filter-input div {
  flex-basis: 40%;
  display: flex;
  text-align: center;
}

.filter-input div button {
  flex-grow: 1;
  border: 2px solid #eee;
  background: none;
  border-radius: 10em;
  height: 20px;
  width: 1px;
  outline: none;
  cursor: pointer;
}

.filter-input div span {
  flex-grow: 2;
}

.showing {
  color: #bbb;
}

