@value colors: "../colors.css";
@value base1Light, base2Dark, primary-white from colors;

.forcast-filter {
  width: 100%;
  margin: auto;
  border: 1px solid base1Light;
  border-radius: 0.3em;
}

.forcast-filter_heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid base1Light; 
}

.forcast-filter_heading p {
  font-size: 0.8em;
  padding: 0.4em;
  flex-grow: 2;
}

.forcast-filter > div > button {
  border-radius: 0 0.3em 0 0;
  background: primary-white;
  border: none;
  border-left: 1px solid base1Light;
  color: base2Dark;
}

@media (min-width: 800px) {
  .forcast-filter {
    width: 100%;
    margin: 0 auto 0.5em auto;
  }
}
