.forcast-filter {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 0.3em;
}

.forcast-filter_heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd; 
}

.forcast-filter_heading p {
  font-size: 0.8em;
  padding: 0.4em;
  flex-grow: 2;
}

