.forcast-detail {
  padding: 0 0 0 0.3em;
}

.forcast-detail_heading {
  display: flex;
}

.forcast-detail_heading :nth-child(1) {
  flex-grow: 10;
  align-self: center;
}

.forcast-detail_heading :nth-child(2) {
  flex-grow: 2;
  align-self: center;
}

.forcast-detail_heading :nth-child(3) {
  flex-grow: 1;
}




