@value colors: "../colors.css";
@value primary-red, primary-green from colors;

.forcast-detail {
  padding: 0 0 0 0.3em;
  margin: 0.3em;
  height: 10em;
}

.forcast-detail_heading {
  font-size: 1.2em;
  display: flex;
}

.forcast-detail_heading :nth-child(1) {
  flex-grow: 10;
  align-self: center;
}

.forcast-detail_heading :nth-child(2) {
  flex-grow: 2;
  align-self: center;
}

.forcast-detail_heading :nth-child(3) {
  flex-grow: 1;
}

.forcast-detail_list-heading {
  display: flex;
  padding: 1.5em 0;
}

.forcast-detail_list-heading h2 {
  margin: 0 1.2em 0 0;
  align-self: center;
  width: 8em;
}

.forcast-detail li {
  display: flex;
  padding: 0.3em 0;
}

.forcast-detail li > p:first-child {
  font-size: 0.6em;
  flex-basis: 40%;
}

.forcast-detail li > p:last-child {
  font-size: 0.8em;
}

.forcast-detail_image-container div {
  cursor: pointer;
}

.forcast-detail_image-container div div {
  max-height: 15em;
  overflow: hidden;
  width: 14em;
}

.forcast-detail_image-container div div span:nth-child(1),
.forcast-detail_image-container div div span:nth-child(2) {
  display: inline-block;
  font-size: 3em;
  width: 1.5em;
  cursor: pointer;
}

.forcast-detail_image-container div div span:nth-child(1) {
  color: primary-green;
}

.forcast-detail_image-container div div span:nth-child(2) {
  color: primary-red;
}

@media (min-width: 800px) {
  .forcast-detail_heading {
    font-size: 1.8em;
  }

  .forcast-detail_image-container {
    display: flex;
  }

  .forcast-detail_image-container ul {
    width: 50%;
  }

  .forcast-detail_image-container div {
    width: 50%;
  }
}
