@value colors: "../colors.css";
@value primary-white from colors;

.forcast-container { 
  width: 90%;
  margin: 0.5em 1em;
  padding: 0.6em;
  background: primary-white;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 800px) {
  .forcast-container {
    width: 40%;
    margin: 0.8em;
    padding: 1em;
  }
}

