@value colors "../colors.css";
@value base1Light from colors;

.forcast-table {
  border-collapse: collapse; 
  width: 90%;
  margin: auto;
}

.forcast-table th {
  cursor: pointer;
  text-align: start;
  font-weigth: normal;
  width: 25%;
}

.forcast-table > thead > th {
  cursor: pointer;
}

.forcast-table > tbody > tr {
  cursor: pointer;
}

.forcast-table > tbody ul {
  display: flex;
}

.forcast-table > tbody li {
  height: 15px;
}

.forcast-table td {
  padding: 0.5em;
}

.forcast-table tbody > tr {
  border: 2px dashed base1Light;
}

.spacing {
  height: 1em;
}



