.forcast-table {
  border-collapse: collapse; 
}

.forcast-table th {
  cursor: pointer;
  text-align: start;
  font-weigth: normal;
  width: 25%;
}

.forcast-table > tbody ul {
  display: flex;
}

.forcast-table > tbody li {
  height: 15px;
}

.forcast-table td {
  padding: 0.5em;
}

.forcast-table tbody > tr {
  border: 2px dashed #ddd;
}

.spacing {
  height: 1em;
}



