@value colors: "../colors.css";
@value primary-white, base1Light from colors;

.heading {
  background: primary-white;
  margin-bottom: 1em;
}

.heading h1 {
  font-size: 2em;
  padding: 0.2em 0 0 0.2em;
}

.heading p {
  font-size: 0.8em;
  padding: 0 0 1.2em 1em;
  border-bottom: 2px solid base1Light;
}
