.full-screen-images-modal {
  position: absolute;
  top: 0;
  right: 0;
  left: -2em;
  bottom: 0;
  background: rgba(68, 68, 68, 0.9);
  z-index: 5;
}

.full-screen-images, .street-images {
  -webkit-overflow-scrolling: touch;
  display: flex;
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  z-index: 5;
}

.full-screen-images {
  top: 20vh;
}

.full-screen-images > img {
  padding: 1em;
}

.street-images > img {
  padding: 0.5em;
}

img[src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png"], a[href^="https://www.google.com/intl/en-US_US/help/terms_maps.html"]{
    display:none !important;
}
