.map-compare {
  display: flex;
  flex-direction: column;
}

.map-compare_maps {
  display: flex;
  flex-direction: column;
  height: 11em;
  width: 97.5%;
  padding-left: 0.3em;
  margin: auto;
}

.map-container {
  position: relative;
  width: 100%;
  height: 10.5em;
  margin: 0.5em auto 0 auto;
}

.map-container > input {
  font-size: 0.8em;
  padding: .5em;
  margin: 3em 0 0 1em;
  width: 80%;
  letter-spacing: 1.2px;
  outline: none;
  border: 2px solid #ddd;
  border-radius: 1em;
}

@media (min-width: 800px) {
  .map-compare_maps {
    height: 13em;
    padding-left: 0.5em;
    flex-direction: row;
  }
  .map-container {
    height: 14em;
  }
}


