@value colors: '../colors.css';
@value base1Light from colors;

.map-compare {
  display: flex;
  flex-direction: column;
}

.map-compare_maps {
  display: flex;
  flex-direction: column;
  height: 11em;
  width: 97.5%;
  padding-left: 0.3em;
  margin: auto;
}

.map-container {
  position: relative;
  width: 100%;
  height: 25vh;
  margin: 0.5em auto 0 auto;
}

.map-container > input {
  font-size: 0.8em;
  padding: .5em;
  margin: 3em 0 0 1em;
  width: 80%;
  letter-spacing: 1.2px;
  outline: none;
  border: 2px solid base1Light;
  border-radius: 1em;
}

.empty-map-location-container {
  border: 2px dashed base1Light;
  border-radius: 0.6em;
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.empty-map-location-container > p {
  font-size: 0.8em;
  align-self: center; 
}

@media (min-width: 800px) {
  .map-compare_maps {
    height: 13em;
    padding-left: 0.5em;
    flex-direction: row;
  }
  .map-container {
    height: 25vh;
  }
}


