@value colors: '../colors.css';
@value primary-white from colors;

.change-city {
  position: absolute;
  z-index: 1;
  top: 0;
  font-size: 1em;
  background: primary-white;
  padding: .5em 1em;
  border: 2px solid #eee;
  letter-spacing: 1.5px;
  cursor: pointer;
}
