.map-control {
  display: flex;
  margin: 1.2em 0.8em 2.4em 0.8em;
}

.map-control > div {
  border: 2px solid #ddd;
  border-radius: 0.5em;
  background: none;
  text-align: center;
  font-size: 1.6em;
  line-height: 0;
  padding: 0.4em 0.4em 0.6em 0.4em;
  color: #444;
  flex-grow: 4;
}

.map-control span {
  text-align: center;
  color: #444;
  padding-top: 0.3em;
  flex-grow: 1;
}

@media (min-width: 800px) {
  .map-control {
    flex-direction: column;
  }
  .map-control > div {
    padding: 0.4em;
    line-height: inherit;
    cursor: pointer;
  }
  .map-control > span {
    flex-grow: 1;
  }
}


