@value colors: "../colors.css";
@value base1Dark, base1Light from colors;

.map-control {
  display: flex;
  margin: 1em;
}

.map-control > div {
  border: 2px solid base1Light;
  border-radius: 0.5em;
  background: none;
  text-align: center;
  font-size: 1.6em;
  line-height: 0;
  padding: 15px;  color: base1Dark;
  flex-grow: 1;
}

.map-control span {
  text-align: center;
  color: base1Dark;
  padding-top: 0.5em;
  flex-grow: 1;
}

@media (min-width: 800px) {
  .map-control {
    margin: 0.5em 0 0 0;
  }
  .map-control > div {
    padding: 0.2em;
    line-height: inherit;
    cursor: pointer;
    flex-grow: 2;
  }
}


