.change-city {
  position: absolute;
  z-index: 1;
  top: 0;
  font-size: 1em;
  background: #ddd;
  color: #444;
  padding: .5em 1em;
  border: 2px solid #ddd;
  letter-spacing: 1.5px;
  cursor: pointer;
}
