.modal {
  background: rgba(68, 68, 68, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.display-off {
  display: none;
}

.display-on {
  display: inherit;
}

@media (min-width: 800px) {
  .modal {
    display: none !important;
  }
}

