.search {
}

.search form {
  align-self: center;
  margin: auto;
  width: 80%;
}

.search input {
  width: 100%;
  border: 2px solid #eee;
  border-radius: 2em;
  font-size: 0.8em;
  height: 2em;
  padding-left: 1em;
  letter-spacing: 1.2px;
  outline: none;
}

