.search {
}

.search form {
  align-self: center;
  margin: auto;
  width: 80%;
}

.search input {
  width: 100%;
  border: 2px solid #eee;
  border-radius: 2em;
  font-size: 0.8em;
  height: 2em;
  padding-left: 1em;
  letter-spacing: 1.2px;
  outline: none;
}

.setMapLocation2 {
  border: 2px dotted #999;
  height: 10em;
  width: 95%;
  padding: 2em 0 0 0;
  margin: 0.5em auto 0 auto;
}

.setMapLocation2 input {
  font-size: 0.6em;
  padding: 1em;
  letter-spacing: 1.2px;
  outline: none;
}
