.selected-city {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 2em;
  background: #fff;
  flex-grow: 1;
}

.display-off {
  display: none;
}

.display-on {
  display: inherit;
}

.modal-background {
  background: rgba(68, 68, 68, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@media (min-width: 750px) {
  .selected-city {
    position: static;
    margin: 0 2em 1em 1em;
  }

  .modal-background {
    display: none;
  }
}
