@value colors: "../colors.css";
@value primary-white from colors;

.selected-city-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 2em;
  background: primary-white;
  width: 100%;
}

.selected-city-container > div {
  width: 90%;
}

.display-off {
  display: none;
}

.display-on {
  display: inherit;
}


@media (min-width: 800px) {
  .selected-city-container {
    position: static;
    width: 60%;
    margin: 1em;
    border-radius: 1.2em;
  }
}
