.street-image {
  display: flex;
  overflow: scroll;
  padding: .5em 1em 1em .5em;
}

.street-image > img {
  padding: 0 0.5em;
}

.street-image-heading {
  font-size: 0.6em;
  padding: 0 0 0 1em;
  border-top: 2px solid #ddd;
}
